{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h2 class="titulo-cartoon fw-bold text-center">Bienvenido a Kids English 🎨</h2>


<p class=" titulo-animado fw-bold text-center">Aprende inglés jugando, viendo imágenes y explorando palabras nuevas.</p>

<div class="card-kids text-center mx-auto mt-4 p-4">
    <h3 class="card-title-kids">Empieza aquí 👇</h3>

    <a class="btn-kids" href="/vocabulario">
        📘 Aprender vocabulario
    </a>

    <a class="btn-kids" href="/juegos">
        🎮 Jugar
    </a>
</div>

{% endblock %}
