{% extends "base.html" %}

{% block title %}Juegos{% endblock %}

{% block content %}
<h2>Juegos 🎮</h2>
<p>Juega y aprende al mismo tiempo:</p>

<ul class="list-unstyled d-flex flex-column gap-3 mt-3">

  <a href="/memorama" class="btn btn-success w-100 d-flex align-items-center gap-2">
    <i class="fa-solid fa-gamepad"></i>
    jugar memorama
  </a>


    <a href="/comidas" class="btn btn-success w-100 d-flex align-items-center gap-2">
   <i class="fa-solid fa-burger"></i>
    comidas 
    </a>

    <a href="/ropa" class="btn btn-success w-100 d-flex align-items-center gap-2">
    <i class="fa-solid fa-shirt"></i>
    ropa
    </a>

    <a href="/colores" class="btn btn-success w-100 d-flex align-items-center gap-2">
    <i class="fa-solid fa-palette"></i>
    colores
    </a>

</ul>
{% endblock %}
